/*! demo.css © yamoo9.net, 2016 */
html {
    overflow-y: visible;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 100%;
    line-height: 1.5;
}

body {
    margin: 0;
}

